:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --bg-hover-logo: #2196F3 ;
}

/* / components / */
.body {
  --primary-text-color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* HEDER */
.site-heder {
  border-bottom: 1px solid #ececec;
}
.main-heder,
.nav-title {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-title {
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .main-heder {
    position: relative;
    width: 480px;
  }
}

/* logo */
.logo {
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
@media screen and (max-width: 1199px) {
  .logo {
    display: block;
    font-size: 24px;
    line-height: 1.17;
    padding: 15px 0;
  }
}

.logo__web {
  color: var(--bg-hover-logo);
}

.logo__studio {
  color: #000000;
}

/* link-nav */
.nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav {
    align-items: center;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__item {
  position: relative;
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--bg-hover-logo);
}

.nav__link.current {
  color: var(--bg-hover-logo);
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  color: var(--bg-hover-logo);
  background: var(--bg-hover-logo);
  border-radius: 2px;
}

.nav__button {
  display: inline-flex;
  padding: 0;
  margin: o;
  border: none;
  background-color: transparent;
  z-index: 2;
}
.nav__button .nav__button-cross {
  display: none;
}
.nav__button.is-open .nav__button-cross {
  display: block;
}
.nav__button.is-open .nav__button-menu {
  display: none;
}
@media screen and (min-width: 767px) {
  .nav__button {
    display: none;
  }
}

.nav__menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 1;
}
.nav__menu.is-open {
  display: block;
}

.nav__menu-box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.nav__menu-list {
  margin-bottom: auto;
}

.nav__menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav__menu-link:focus {
  color: #2196f3;
}

.nav__menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.nav__auth-list {
  margin-bottom: 64px;
}

.nav__auth-link {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  width: 100%;
  color: rgb(117, 117, 117);
}

.nav__auth-item:not(:last-child) {
  margin-bottom: 32px;
}

.nav__auth-link-blue {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  width: 100%;
  color: #2196f3;
}

.nav__social-list {
  display: flex;
}

.nav__social-item:nth-child(-n+3) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.nav__social-link {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

/* link-auth */
.auth {
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .auth {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth {
    flex-direction: column;
    justify-content: center;
  }
}

.auth .auth__item + .auth__item {
  margin-left: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth .auth__item + .auth__item {
    margin-left: 0;
  }
}

.auth__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth__link:hover, .auth__link:focus {
  color: var(--bg-hover-logo);
  /* fill: var(--bg-hover-logo); */
}
.auth__link:hover .auth__icon, .auth__link:focus .auth__icon {
  fill: var(--bg-hover-logo);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth__link {
    font-size: 12px;
    line-height: 1.17;
  }
}

.auth__icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
}

/* HYRO */
.hyro {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
@media screen and (max-width: 768px) {
  .hyro {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.overlay {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .overlay {
    height: 400px;
    min-width: 480px;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/mobile-header.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/mobile-header2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overlay {
    min-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/mobile-header.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/mobile-header2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    min-width: 1200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/bcg.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/bcg2x.jpg");
  }
}

.hyro__text {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .hyro__text {
    width: 360px;
    height: 84px;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
  }
}

.button {
  background-color: var(--bg-hover-logo);
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--bg-hover-logo);
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
@media screen and (max-width: 1199px) {
  .form-title {
    line-height: 1.5;
  }
}

.form__modal {
  position: relative;
}

.form__name {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form__item {
  position: relative;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 10px;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 35px;
  padding-right: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  border-color: var(--bg-hover-logo);
}
.form__input:hover + .form-icon {
  fill: var(--bg-hover-logo);
}
.form__input:focus + .form-icon {
  fill: var(--bg-hover-logo);
}

.form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  height: 18px;
}

.form__area {
  display: block;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
}

.form__area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox {
  margin-bottom: 30px;
}

.checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox__text {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 1199px) {
  .checkbox__text {
    line-height: 1.17;
    font-size: 12px;
  }
}

.checkbox__before {
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
}

.checkbox__before svg {
  fill: #FFFFFF;
  opacity: 0;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__before {
  background-color: var(--bg-hover-logo);
  border-color: var(--bg-hover-logo);
}
.checkbox__input:checked + .checkbox__before svg {
  opacity: 1;
}

.checkbox__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--bg-hover-logo);
  text-decoration: underline;
}
@media screen and (max-width: 1199px) {
  .checkbox__link {
    line-height: 1.17;
    font-size: 12px;
  }
}

.button--form {
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* about company */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits__list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .benefits__list {
    display: block;
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits__list {
    flex-wrap: wrap;
  }
}

.benefit__item {
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .benefit__item {
    margin-right: 0;
  }
  .benefit__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefit__item {
    width: calc((100% - 60px) / 2);
  }
  .benefit__item:nth-child(2n) {
    margin-right: 0;
  }
  .benefit__item:nth-child(-n+2) {
    margin-bottom: 57px;
  }
}

.benefit__item:last-child {
  margin-right: 0px;
}

.benefit__blok {
  display: flex;
  background: #F5F4FA;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
}

.benefit__icon {
  width: 65px;
  height: 70px;
}

.benefit__subtitle {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .benefit__subtitle {
    text-align: center;
  }
}

.benefit__text {
  color: var(--secondary-text-color);
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
@media screen and (max-width: 1199px) {
  .benefit__text {
    display: inline;
  }
}

/*            WORK            */
.work__section {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work__section {
    display: none;
  }
}

.work__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.work__list {
  display: flex;
}

.work__item {
  position: relative;
  margin-right: 30px;
}

.work__item:last-child {
  margin-right: 0px;
}

.work__image {
  display: block;
}

.work__position {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

/* TEAM */
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    min-width: 480px;
  }
}
.backcolor {
  background-color: #f5f4fa;
}

.team__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .team__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

.team__list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .team__list {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  width: 277.5px;
  margin-right: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item {
    width: 100%;
    margin-right: 0;
  }
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 60px) / 2);
  }
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
  .team__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

.team__item:last-child {
  margin-right: 0;
}

.team__image {
  width: 100%;
}

.team__description {
  padding-top: 30px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--bg-hover-logo);
  border-radius: 50px;
  fill: #ffffff;
}
.social__link:hover .social__icons, .social__link:focus .social__icons {
  fill: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* CLIENTS */
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.clients__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .clients__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
  .clients__item:nth-child(-n+4) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
  .clients__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: flex;
  border: 1px solid #afb1b8;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--bg-hover-logo);
  border-color: var(--bg-hover-logo);
}
.clients__link:hover .clients__icons, .clients__link:focus .clients__icons {
  fill: var(--bg-hover-logo);
}
@media screen and (max-width: 1199px) {
  .clients__link {
    display: inline-flex;
    width: 100%;
  }
}

.clients__icons {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icons:hover, .clients__icons:focus {
  fill: var(--bg-hover-logo);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --FOOTER-- */
.site__footer {
  background-color: #2F303A;
  padding-top: 50px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .site__footer {
    min-width: 480px;
  }
}

.footer {
  display: flex;
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

.footer-auth {
  margin-right: 70px;
}
@media screen and (max-width: 767px) {
  .footer-auth {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo--footer {
  display: block;
  margin-right: auto;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .logo--footer {
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
  }
}

.logo__studio--white {
  color: #FFFFFF;
}

.address {
  font-family: Roboto, sans-serif;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
@media screen and (max-width: 1199px) {
  .address__link {
    text-align: center;
  }
}

.link--maps {
  color: #FFFFFF;
}

.link--contacts {
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link--contacts:hover, .link--contacts:focus {
  color: var(--bg-hover-logo);
}

.footer__net {
  margin-right: 93px;
  margin-right: 70px;
}
@media screen and (max-width: 767px) {
  .footer__net {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__subtitle {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__subtitle {
    text-align: center;
  }
}

.footer__link {
  background: rgba(255, 255, 255, 0.1);
}

.footer__icons {
  fill: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer__letter {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__letter {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer__form {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form {
    display: flex;
    flex-direction: column;
  }
}

.footer__input {
  width: 358px;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (max-width: 767px) {
  .footer__input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__input {
    width: 450px;
    margin-bottom: 20px;
  }
}

.button--footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
}
@media screen and (max-width: 767px) {
  .button--footer {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button--footer {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn__footer__text {
  margin-right: 10px;
}

.btn__telegram {
  fill: #FFFFFF;
}

.btn__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .btn__list {
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: flex-start;
  }
}

.btn__item {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .btn__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

.btn__item:last-child {
  margin-right: 0px;
}

.btn {
  background-color: rgb(245, 244, 250);
  color: var(--primary-text-color);
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  font-family: inherit;
  border-radius: 4px;
  padding: 6px 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: var(--bg-hover-logo);
  color: rgb(255, 255, 255);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
}

.portfolio__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 767px) {
  .portfolio__item {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: 354px;
  }
}

.portfolio__item:nth-child(3n) {
  margin-right: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item:nth-child(2n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.portfolio__relative {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1199px) {
  .portfolio__image {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__image {
    width: 354px;
  }
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
  opacity: 1;
}

.overlay__image {
  padding: 63px 24px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

/* BLOK PORTFOLIO */
/* =================== */
.portfolio__image {
  display: block;
}

.portfolio__description {
  padding: 20px;
  border: 1px solid #eeeeee;
  flex-grow: 1;
}

.portfolio__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  margin-top: 4px;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */