/* about company */

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits__list {
  display: flex;

  @media screen and (max-width: 767px) {
    display: block;
    width: 480px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;

    // flex-basis: calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке);
    // width: calc((100% - 1 * 30px) / 2);
  }
}

.benefit__item {
  margin-right: 30px;

  @media screen and (max-width: 767px) {
    margin-right: 0;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 2 * 30px) / 2);

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 57px;
    }
  }
}

.benefit__item:last-child {
  margin-right: 0px;
}

.benefit__blok {
  display: flex;
  background: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
}

.benefit__icon {
  width: 65px;
  height: 70px;
}

.benefit__subtitle {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.benefit__text {
  color: var(--secondary-text-color);
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  @media screen and (max-width: 1199px) {
    display: inline;
  }
}
