 /* backdrop */
 .backdrop {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.2);
     opacity: 1;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
         visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .backdrop.is-hidden {
     opacity: 0;
     pointer-events: none;
     visibility: hidden;
 }

 .backdrop.is-hidden .modal {
     transform: translate(-50%, -50%) scale(0.7);
 }

 .modal {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) scale(1);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
         opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

     width: 528px;
     height: 581px;
     padding: 40px;


     background-color: #ffffff;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 4px;

    @media screen and (max-width: 1199px) {
        width: 450px;
        height: 609px;
    }

 }

 .modal__btn {
     position: absolute;
     top: 8px;
     right: 8px;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     border-color: rgba(0, 0, 0, 0.1);
     background-color: #ffffff;

     &:hover,
     &:focus {
         fill: var(--bg-hover-logo);
     }
 }



 .form-title {
     font-weight: 700;
     font-size: 20px;
     line-height: 1.15;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--primary-text-color);
     margin-bottom: 12px;

    @media screen and (max-width: 1199px) {
        line-height: 1.5;

    }

 }

 .form__modal {
     position: relative;

 }

 .form__name {
     display: inline-flex;
     flex-direction: column;
     width: 100%;

     font-weight: 400;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.01em;
     color: var(--secondary-text-color);

 }

 .form__item {
     position: relative;
     width: 100%;
     margin-top: 4px;
     margin-bottom: 10px;


 }

 .form__input {

     display: block;
     width: 100%;
     height: 40px;
     padding-left: 35px;
     padding-right: 35px;
     border: 1px solid rgba(33, 33, 33, 0.2);
     border-radius: 4px;

     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus {
         border-color: var(--bg-hover-logo);

     }

     &:hover+.form-icon {
         fill: var(--bg-hover-logo);
     }

     &:focus+.form-icon {
         fill: var(--bg-hover-logo);
     }
 }




 .form-icon {
     position: absolute;
     display: block;
     top: 50%;
     left: 25px;
     transform: translate(-50%, -50%);
     height: 18px;
 }

 .form__area {
     display: block;
     padding: 12px 16px;
     height: 120px;
     resize: none;
     margin-bottom: 20px;
 }

 .form__area::placeholder {
     font-weight: 400;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.01em;
     color: rgba(117, 117, 117, 0.5);
     ;
 }

 .form__checkbox {
     margin-bottom: 30px;
 }

 .checkbox__label {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .checkbox__text {
     position: relative;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     color: var(--secondary-text-color);

    @media screen and (max-width: 1199px) {
        line-height: 1.17;
        font-size: 12px;
    }
 }

 .checkbox__before {

     display: inline-flex;

     width: 16px;
     height: 15px;
     border: 2px solid #000000;
     border-radius: 2px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     background-color: transparent;
     margin-right: 8px;
     justify-content: center;
     align-items: center;


 }

 .checkbox__before svg {
     fill: #FFFFFF;
     opacity: 0;
 }

 .checkbox__input {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;

     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;

     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:checked+.checkbox__before {
         background-color: var(--bg-hover-logo);
         border-color: var(--bg-hover-logo);
     }

     &:checked+.checkbox__before svg {
         opacity: 1;
     }
 }




 .checkbox__link {
     font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     color: var(--bg-hover-logo);
     text-decoration: underline;

        @media screen and (max-width: 1199px) {
                line-height: 1.17;
                font-size: 12px;
            }
 }

 .button--form {
     display: block;

     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

     margin-bottom: 40px;
     margin-left: auto;
     margin-right: auto;
 }