/* HYRO */

.hyro {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  @media screen and (max-width: 768px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.overlay {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bcg.jpg');
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 767px) {
    height: 400px;
    min-width: 480px;
    background-size: cover;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/mobile/mobile-header.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/mobile/mobile-header2x.jpg');
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    min-width: 768px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/tablet/mobile-header.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/tablet/mobile-header2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    min-width: 1200px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../images/bcg.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../../images/bcg2x.jpg');
    }
  }
}

.hyro__text {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;

  margin-bottom: 30px;

  @media screen and (max-width: 768px) {
    width: 360px;
    height: 84px;
    font-size: 26px;
    line-height: 1.62;

    text-align: center;
  }
}

.button {
  background-color: var(--bg-hover-logo);
  color: #ffffff;
  border: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;

  width: 200px;
  height: 50px;
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;
}
