.btn__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 50px;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: flex-start;
  }
}

.btn__item {
  margin-right: 8px;
  @media screen and (max-width: 767px) {
    &:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
  }
}

.btn__item:last-child {
  margin-right: 0px;
}

.btn {
  background-color: rgba(245, 244, 250, 1);
  color: var(--primary-text-color);
  border: none;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  font-family: inherit;

  border-radius: 4px;

  padding: 6px 22px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--bg-hover-logo);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.portfolio__list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
}

.portfolio__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (max-width: 767px) {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }
}

.portfolio__item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio__item:nth-child(2n) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0px;
  }
}

.portfolio__item:nth-child(2n + 1) {
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
}

.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio__relative {
  position: relative;
  overflow: hidden;
}

.portfolio__image {
  @media screen and (max-width: 1199px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
  opacity: 1;
}

.overlay__image {
  padding: 63px 24px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

/* BLOK PORTFOLIO */
/* =================== */

.portfolio__image {
  display: block;
}

.portfolio__description {
  padding: 20px;
  border: 1px solid #eeeeee;
  flex-grow: 1;
}

.portfolio__title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  margin-top: 4px;
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
