.body {
    --primary-text-color: #212121;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

.container {

    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

}