@media screen and (min-width: 1200px) {

/* TEAM */
.backcolor {
    background-color: #F5F4FA;

}

.team__title {

    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
}

.team__list {
    display: flex;

}

.team__item {

    width: calc((1200px - 90px) / 4);
    margin-right: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px
}

.team__item:last-child {
    margin-right: 0;
}

.team__description {
    padding-top: 30px;
}

.team-subtitle {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}

.team__text {
    color: var(--secondary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;

}

.social {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
}

.social__list {
    display: flex;
    justify-content: center;
    align-items: center;
}


.social__item:not(:last-child) {
    margin-right: 10px;
}


.social__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    fill: #AFB1B8;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--bg-hover-logo);
        border-radius: 50px;
        fill: #FFFFFF;

    }

    &:hover .social__icons,
    &:focus .social__icons {
        fill: #FFFFFF;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
}