@media screen and (max-width: 767px) {
    .hyro {
            text-align: center;
            padding-top: 118px;
            padding-bottom: 118px;
    
    
        }
    
        .overlay {
            margin-right: auto;
            margin-left: auto;
            // max-width: 1600px;
            height: 400px;
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url("../images/bcg.jpg");
            background-repeat: no-repeat;
            background-position: center;
        }
    
        .hyro__text {
            color: #FFFFFF;
    
            font-weight: 900;
            font-size: 26px;
            line-height: 1.62;
    
            letter-spacing: 0.06em;
            text-transform: uppercase;
    
            width: 360px;
            height: 84px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 30px;
    
        }
    
        .button {
            background-color: var(--bg-hover-logo);
            color: #FFFFFF;
            border: none;
            cursor: pointer;
    
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            font-family: inherit;
    
            min-width: 200px;
            height: 50px;
            border-radius: 4px;
    
        }
}